@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Toda la pagina */

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  margin: 0;
  position: relative;
}

.main-container {
  background: var(--white-1);
}

/* Variables */

:root {
  --black-1 : #000;
  --gray-1 : #757575;
  --gray-2 : #212121;
  --gray-3 : #2F303A;
  --gray-icon : #AFB1B8;
  --primary-color-2 : #2196F3;
  --white-1 : #fff;
  --white-2 : #F5F4FA;
}

/* Tabla de arriba */

.set1 {
  background-color: var(--white-1);
  display: flex;
}

.list-above {
  display: flex;
  height: 10px;
  justify-content: center;
  list-style: none;
}

.logo {
  color: var(--primary-color-2);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  margin-top: 10px;
  padding-left: 125px;
}

.study::after {
  background: var(--primary-color-2);
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
  left: 25.5%;
  position: absolute;
  top: 76px;
  width: 55px;
}

.study:hover {
  cursor: pointer;
  text-decoration: underline;
}

.study {
  color: var(--primary-color-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-left: 93px;
  text-decoration: none;
}

.briefcase:hover {
  color: var(--primary-color-2);
  cursor: pointer;
  text-decoration: underline;
}

.briefcase {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding-left: 3em;
  padding-right: 3em;
  text-decoration: none;
}

.contacts:hover {
  color: var(--primary-color-2);
  cursor: pointer;
  text-decoration: underline;
}

.contacts {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-right: 344px;
  text-decoration: none;
}

.list-above li svg {
  fill: var(--gray-1);
  height: 20px;
  margin: 10px 4px 0 0;
  width: 20px;
}

.item {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  text-decoration: none;
}

li .item,
li .item,
li .item .icon {
  color: var(--gray-1);
  fill: #757575;
  margin: 10px 4px 0 0;
}

li .item:hover,
li .item:focus,
li .item:hover .icon {
  color: var(--primary-color-2);
  fill: #2196F3;
}

.email {
  color: var(--gray-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.number {
  color: var(--gray-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-left: 8px;
  text-decoration: none;
}

/* Titulo */

.title {
  color: var(--white-1);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  padding-top: 200px;
  text-align: center;
}

.letters-key:hover {
  text-decoration:underline;
}

.letters-key {
  color:var(--white-1);
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
}

.key {
  background-color: var(--primary-color-2);
  border: solid 2px var(--primary-color-2);
  border-radius: 4px;
  margin-bottom: 200px;
  margin-left: 650px;
  padding: 10px 32px 10px 32px;
}

.key:hover {
  box-shadow: 0px 4px 4px var(--black-1);
  cursor: pointer;
}

.set2 {
  background: url(https://cristian-goit.github.io/Mentors-Project-FS-LATAM-6/goit-markup-hw-04/images/img_hero.jpg);
  background-color: var(--gray-3);
  background-image: url(https://cristian-goit.github.io/Mentors-Project-FS-LATAM-6/goit-markup-hw-04/images/img_hero.jpg);
}

/* Descripciones de la empresa */

.set3 li div {
  align-items: center;
  background-color: var(--white-2);
  border-radius: 1em;
  display: flex;
  height: 130px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 250px;
}

.set3 {
  display: flex;
  justify-content: center;
  list-style: none;
}

.details {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 30px;
}

.text-details {
  color: var(--gray-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  line-height: 24px;
  margin-left: 30px;
  width: 250px;
}

.puntuality {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 30px;
}

.text-puntuality {
  color: var(--gray-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  line-height: 24px;
  margin-bottom: 58px;
  margin-left: 30px;
  width: 220px;
}

.planification {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 30px;
  line-height: 16px;
}

.text-planification {
  color: var(--gray-1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  line-height: 24px;
  margin-left: 30px;
  width: 250px;
}

.tecnology {
  color: var(--gray-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 30px;
}

.text-tecnology {
  color: var(--gray-1) ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  line-height: 24px;
  margin-left: 30px;
  width: 300px;
}

/* Imagenes 1 */

.set4 {
  display: flex;
  list-style: none;
  margin-left: 10%;
}

.subtitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  padding-top: 80px;
  text-align: center;
}

/* Imagenes 2 */


.set5 {
  display: flex;
  justify-content: center;
  list-style: none;
}

.image-left {
  background: var(--white-1);  
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px #0000001F, 
  0px 1px 1px #00000024, 
  0px 2px 1px #00000033;
}

.image {
  background: var(--white-1);  
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px #0000001F, 
  0px 1px 1px #00000024, 
  0px 2px 1px #00000033;
  margin-left: 30px;
}

.text-name {
  color: var(--gray-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.images1 {
  background-color: var(--white-2);
  display: flex;
  justify-content: center;
}

.text-description {
  color:var(--gray-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.set5 li ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-left: 22px;
}

.set5 li ul li {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 2em;
  width: 40px;
}

.set5 li ul li svg {
  height: 20px;
  fill: var(--gray-icon);
  width: 20px;
}

.set5 li ul li:hover {
  background-color: #2196F3;
  border-radius: 2em;
  cursor: pointer;
}

.set5 li ul li:hover svg {
  cursor: pointer;
  fill: var(--white-1);
}

.images2 {
  width: 25%;
}

/* Imagenes 3 */

.list {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 3em 0 10em 0;
}

.list li {
  border : solid 2px #AFB1B8;
  border-radius: 4px;
  margin-right: 20px;
}

.list li svg {
  fill: #AFB1B8;
  height: 40px;
  padding: 20px 50px 20px 50px;
  width: 7em;
}

.list li:hover {
  border: solid 2px var(--primary-color-2);
  cursor: pointer;
}

.list li:hover svg {
  fill: var(--primary-color-2);
}

/* Tabla de abajo */

.web {
  color: var(--primary-color-2);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  height: 0;
  line-height: 31px;
  margin-left: 107px;
}

.place {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 0;
  line-height: 24px;
  padding-left: 107px;
}

.contact {
  color: var(--white-1)99;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 8px;
  line-height: 24px;
  padding-bottom: 0px;
  padding-left: 107px;
}

.set6 ul li svg {
  fill: var(--gray-icon);
  height: 20px;
  width: 20px;
}

.list-icons {
  display: flex;
  height: 43px;
  list-style: none;
  margin: 70px 0 0 0;
  padding: 0;
}

.set6 ul li {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.set6 h3 {
  color: #fff;
  font-size: 17px;
  height: 70px;
  margin: 17px 0 0 20px;
  width: 0;
}

.set6 ul li:hover {
  align-items: center;
  background-color: var(--primary-color-2);
  border-radius: 2em;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.set6 ul li:hover svg {
  cursor: pointer;
  fill: var(--white-1);
}

.set6 address {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.set6 {
  background-color: var(--gray-3);
  display: flex;
}